{% extends 'base.html' %}

{% block css %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300;400;500&family=Source+Serif+Pro:wght@600&display=swap');
 

  h3 {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  div {
    font-family: 'Noto Sans KR', sans-serif;
  }


  .btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
      
  }


  
    </style>

{% endblock %}




{% block body %}

<h3 class="text-center mb-5">입력 정보 확인</h3>

 <div>
<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; height: 11rem; margin:0 auto;">
  <h4 class="card-text; row h-100 justify-content-left align-items-center ml-2"> <small>이름 : {{ visitor.name }}</small></h4>
  <h4 class="card-text; row h-100 justify-content-left align-items-center ml-2"> <small>전화번호 : {{ visitor.number }}</small></h4>
  <p class="mt-4 mb-1 ml-2"><small>등록 시각: {{ visitor.created_at }}</small></p>
</div>
</div>
<div class="d-flex justify-content-center">
  <div>
    <a class="btn btn-dark bt-background white mt-0.5 ml-10" href="{% url 'visitors_data:new' %}">뒤로</a>
    <a class="btn btn-dark bt-background white ml-10" href="{% url 'visitors_data:qr' visitor.pk %}">확인</a>
  </div>
</div>
</div>
{% endblock %}